.oval-container{

        color: #1a56db;
        background-color: rgb(225 239 254 );
        width: fit-content;
        align-self: center;
        border-radius: 18px;
        padding: 4px 8px;
        font-weight: 600;
}


.jumbotron{
    margin: auto;
    margin-top: 60px;
    text-align: center;
    align-items: center;
    gap:20px;
    max-width: 700px;
}

.jumbotron h1 {
    font-size: 36px;
    font-weight: 800;
}

.jumbotron p {
    font-size: 18px;
    color: rgb(107 114 128 );

}